@import 'modern-css-reset/dist/reset.min.css';


:root {
  font-family: var(--font-inter), system-ui, Arial, sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

body { background-color: #0A0000; }

ul { list-style: none; margin: 0; padding: 0; }

#main-content { padding-top: 70px; }